.btn-fullClean clean
.files
    .ctn-file


.blocks

#tpl-block(style='display:none;')
    .block
        .ctn-input
            .blk-editor
                .ok ✓
                .number 1
                .textEditor
                .delete x
                .eval e
                .new +
        .output
            .ctn-output

#tpl-row-file(style='display:none;')
    .row-file
        .col-varName: .varName
            .name
            .delete x
        .col-meta
            table
                tr
                    td.type
                    td.size
                    td.date